.firefox__container
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  background-color rgba(0, 0, 0, 0.3)

  display flex
  justify-content center
  align-items center

  &.firefox__hidden
    display none

  & .firefox__inner
    color black
    background-color rgb(254, 253, 254)
    padding 1rem 2rem

    border 1px rgba(0, 0, 0, 0.4) solid
    border-radius 4px

    max-width 500px
